.rr-btn{
    display: flex;
    align-items: stretch;
    margin-left: .5rem;
}

.rr-btn:first-child {
    flex: 1;
    aspect-ratio: 1;
    display: grid;
    justify-content: center;
    padding: 0;
}